// define your wifi settings
const char* ssid = "%WIFI_ENDPOINT_NAME%";
const char* password = "%WIFI_ENDPOINT_PASSWORD%";

// define your yandex cloud device id and device password
const char* yandexIoTCoreRegistryId = "%IOT_CORE_REGISTRY_ID%";
const char* yandexIoTCoreDeviceId = "%IOT_CORE_DEVICE_ID%";
const char* yandexIoTCoreDevicePassword = "%IOT_CORE_DEVICE_PASSWORD%";
